.LogsTable{
    margin: 20px 50px;
}

table th,
table td {
    border: 1px solid;
    padding: 8px;
}

th {
    background-color: #efefef;
}

table {
    overflow-x: auto;
}

.logs-export-button{
    margin-left: 50px;
    padding-bottom: 40px;
    color: rgb(0, 51, 160);
    text-decoration: underline;
    font-size: medium;
}

.logs-pagination{
    margin: 10px 50px;
}

.logs-message{
    margin: 100px 400px;
}

@media screen and (max-width: 768px) {
    .LogsData {
        overflow-x: hidden;
    }
}

@media screen and (max-width: 1200px) {
    .LogsData th:not(:nth-child(1), :nth-child(2), :nth-child(3)),
    .LogsData td:not(:nth-child(1), :nth-child(2), :nth-child(3)) {
        display: none;
    }
}


