.form-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-title{
    background-color: #e1f5fc;
    margin: 30px 0px 10px 0px;
    text-align: center;
    padding: 20px 0px;
    display: block;
    border-radius: 10px;
    width: 80%;
    font-size: 20px;
}

.form{
    font-size: large;
} 

.course{
    margin: 30px 0px;
}

.course-label{
    display: block;
    margin-bottom: 20px;
}

.ur{
    margin-left: 40px;
}

.sc{
    margin-left: 40px;
}

@media screen and (max-width: 770px) {
    .ur{
        display: block;
        margin: 0px;
    }

    .sc{
        margin: 0px;
    }
}

@media screen and (max-width: 600px) {
    .form-body{
        padding: 0px 60px;
    }
}

  


